# Enable mod_rewrite
RewriteEngine on
RewriteBase /

# 301 Redirect for /hindi to /
RewriteCond %{REQUEST_URI} ^/hindi$ [NC]
RewriteRule ^(.*)$ https://rojgaarbharat.com/ [R=301,L]

# 301 Redirect for /hindi.html to /
RewriteCond %{REQUEST_URI} ^/hindi\.html$ [NC]
RewriteRule ^(.*)$ https://rojgaarbharat.com/ [R=301,L]
